<h1>About Friends App</h1>
<p>
    <%= @about_me %>
    <%= @example_math %>
</p>
<p>Friends app is my first ruby application demonstrating some html styling using bootstrap and having create, read, update, and destroy functionality</p>

<p>
    <% quote = 'I am excited to create more applications in Ruby and expand my coding knowledge'%>
    <%= quote%>
</p>